<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js"
        integrity="sha512-NCiXRSV460cHD9ClGDrTbTaw0muWUBf/zB/yLzJavRsPNUl9ODkUVmUHsZtKu17XknhsGlmyVoJxLg/ZQQEeGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="style.css">
    <title>SignUp</title>
</head>

<body>
    <div class="container-fluid p-5">
        <div class="container width border border-secondary">
            <h6 class="text-center message text-danger"></h6>
            <h3 class="text-center text-secondary mt-3">Signup to GroupChat App</h3>
            <form class="form">
                <div class="name p-2">
                    <label for="name">Name:</label>
                    <input class="w-100" id="name" type="text" name="name" value="" required minlength="2">
                </div>
                <div class="phone p-2">
                    <label for="phone">Mobile No:</label>
                    <input class="w-100" id="phone" type="number" name="phone" value="">
                </div>
                <div class="email p-2">
                    <label for="email">Email:</label>
                    <input class="w-100" id="email" type="email" name="email" value="">
                </div>
                <div class="name p-2">
                    <label for="password">Password:</label>
                    <input class="w-100" id="password" type="password" name="password" value="">
                </div>
                <div class="p-2 text-center">
                    <button id="signup" type="submit" class="btn btn-success">Signup</button>
                </div>
                <div class="text-center">
                    <p>Already have an account? <a class="link-primary text-decoration-none"
                            href="./signin.html">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script>
        const signup = document.querySelector("#signup");
        const names = document.getElementById("name");
        const email = document.getElementById("email");
        const phone = document.getElementById("phone");
        let message = document.querySelector(".message");
        const password = document.getElementById("password");

        signup.addEventListener("click", async (e) => {
            await e.preventDefault();
            if (phone.value !== "" && names.value !== "" && email.value !== "" && password.value !== "") {
                const obj = {
                    name: names.value,
                    email: email.value,
                    password: password.value,
                    phone: phone.value,
                };
                const user = await axios.post("http://localhost:3000/user/signup", obj);
                if (user.data.message) {
                    await alert(user.data.message);
                    await location.replace("./signin.html");
                } else {
                    window.location.replace("./signin.html");
                }
            } else {
                alert("Please fill all details")
            }

        });

        //onload
        window.addEventListener('DOMContentLoaded', async () => {
            const token = await localStorage.getItem('token');
            if (token) {
                await location.replace('./index.html');
            }
        });
    </script>
</body>

</html>